<div class="animated fadeIn">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Create Task</strong>
        </div>
        <div class="card-body">
          <form [formGroup]="createtask" (ngSubmit)="onSubmit()">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Description</label>
              <div class="col-md-9">
                <input type="text" class="form-control" formControlName="description" placeholder="Description"
                       [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors.required">Description is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Dead Line</label>
              <div class="col-md-9">
                <input type="date" class="form-control" placeholder="Dead Line" formControlName="deadLine"
                       [ngClass]="{ 'is-invalid': submitted && f.deadLine.errors }">
                <div *ngIf="submitted && f.deadLine.errors" class="invalid-feedback">
                  <div *ngIf="f.deadLine.errors.required">Dead Line is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">End Flag</label>
              <div class="col-md-9">
                <select class="form-control" formControlName="endFlag" [ngClass]="{ 'is-invalid': submitted && f.endFlag.errors }">
                  <option value="">Please select</option>
                  <option value="0">Active</option>
                  <option value="1">Terminate</option>
                </select>
                <div *ngIf="submitted && f.endFlag.errors" class="invalid-feedback">
                  <div *ngIf="f.endFlag.errors.required">End Flag is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">Assign To User</label>
              <div class="col-md-9">
                <select class="form-control" formControlName="userAssign" [ngClass]="{ 'is-invalid': submitted && f.userAssign.errors }">
                  <option value="">Please select</option>
                  <option *ngFor="let user of users" [ngValue]="user.id">{{user.name}}</option>
                </select>
                <div *ngIf="submitted && f.userAssign.errors" class="invalid-feedback">
                  <div *ngIf="f.userAssign.errors.required">Please Assign Task To User</div>
                </div>
              </div>
            </div>

            <table class="table table-bordered" formArrayName="subTask">
              <tr>
                <th colspan="2">Add Sub Task</th>
                <th width="150px">
                  <button type="button" (click)="addSubTask()" class="btn btn-primary">Add More</button>
                </th>
              </tr>
              <tr *ngFor="let sub of subTask().controls; let i=index" [formGroupName]="i">
                <td colspan="2">
                  Sub Task :
                  <input type="text" formControlName="sub" class="form-control">
                </td>
                <td>
                  <button (click)="removeSubTask(i)" class="btn btn-danger">Remove</button>
                </td>
              </tr>
            </table>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">Assign To Category</label>
              <div class="col-md-9">
                <ng-select formControlName="categoryAssign"
                          [items]="categories"
                           bindLabel="name"
                           placeholder="Select Category"
                           appendTo="body"
                           [multiple]="true"
                           [(ngModel)]="selected">
                </ng-select>
              </div>
            </div>

            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="reset" class="btn btn-sm btn-danger" type="reset" (click)="onReset()"><i class="fa fa-ban"></i> Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--/.row-->
</div>
