.container {
  width: 100%;
  display: table;
  text-align: center;
  margin-top: 10%;
}

.container > div {
  width: 25%;
  padding: 4%;
  /*  background-color: #ccc;*/
  background-image: url("~assets/img/tradinos/13.png");
  background-repeat: no-repeat;
  height: 350px;
  text-align: center;
  /*border: 1px solid #aaa;*/
  box-sizing: border-box;
}

.container > div:first-of-type {
  float: left;
}

.container > div:nth-of-type(2) {
  display: inline-block;
}

.container > div:last-of-type {
  float: right;
}
