<div class="animated fadeIn" style="background-color: white; margin: 0; padding: 0">

  <div class="row" style="display: flex; justify-content: center;">

    <div class="col-md-2">
    </div>

    <div class="col-md-6">
      <div style="float: right">
        <img src="assets/img/tradinos/7.svg">
      </div>
      <div style="text-align: center; margin-top: 25%">
        <h1>Welcome to hissss</h1>
        <p style="font-size: 200%">Connect, Support, Collaborate Online Platform, connect you with the best teacher</p>
      </div>
    </div>

    <div class="col-md-2">
    </div>

  </div>
  <!--/.row-->

  <div
    style='width: 100%;height:600px; background-image:url("assets/img/tradinos/6.svg");background-size: 100%; margin-top: 10%'>

    <div class="row">

      <div class="col-md-4">
        <img src="assets/img/tradinos/9.svg" style="max-width:50%; margin-top: -40%" alt="Poop Logo"/>
      </div>

      <div class="col-md-4"></div>

      <div class="col-md-4">
        <img src="assets/img/tradinos/8.svg" style="max-width:50%; margin-top: -40%; margin-left: 50%;"
             alt="Poop Logo"/>
      </div>

    </div>

    <div class="row">

      <div class="col-md-2">
      </div>
      <!--/.col-->

      <div class="col-md-4" style="margin-left: 25%">
        <img src="assets/img/tradinos/3.svg" style="max-width:50%;" alt="Poop Logo"/>
        <p style="font-size: 200%; margin-top: -38%">How it work.</p>
      </div>

      <div class="col-md-2" style="margin-left: 8%">
        <img src="assets/img/tradinos/2.svg" style="max-width:50%;" alt="Poop Logo"/>
      </div>

    </div>

    <div class="row" style="margin-top: 10%; display: flex; justify-content: center">

      <div class="col-md-6">
        <div
          style='background-image: url("assets/img/tradinos/12.png");text-align: center; background-size: 100%; height: 250px;display: flex; justify-content: center;background-repeat: no-repeat'>
          <img src="assets/img/tradinos/10.svg" style="max-width:15%;" alt="Poop Logo"/>
        </div>
      </div>


    </div>

  </div>
  <!--/.row-->

  <div class="container">
    <div>
      <img src="assets/img/tradinos/4.svg" style="max-width:50%;" alt="Poop Logo"/>
      <div class="align-item-center" style="margin-top: 8%">
        <h4>Tea</h4>
        <p>Text messages are used for personal, family.</p>
      </div>
    </div>
    <div>
      <img src="assets/img/tradinos/5.svg" style="max-width:50%;" alt="Poop Logo"/>
      <div class="align-item-center" style="margin-top: 8%">
        <h4>Stu</h4>
        <p>Text messages are used for personal, family, business and social purposes.</p>
      </div>
    </div>
    <div>
      <img src="assets/img/tradinos/1.svg" style="max-width:50%;" alt="Poop Logo"/>
      <div class="align-item-center">
        <h4>Live</h4>
        <p>Text messages are used for personal, family, business and social purposes.</p>
      </div>
    </div>
  </div>

</div>
