<div class="animated fadeIn" *ngIf="task;else other_content">
  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <div class="brand-card-header bg-facebook">
          <h2 class="text-white">Description</h2>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase text-muted small" style="font-weight: bold">{{ task.description }}</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <div class="brand-card-header bg-google-plus">
          <h2 class="text-white">Dead Line</h2>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase text-muted small" style="font-weight: bold">{{ task.deadLine }}</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <div class="brand-card-header bg-linkedin">
          <h2 class="text-white">End Flag</h2>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase text-muted small"
                 style="font-weight: bold">{{ task.endFlag === 0 ? 'Active' : 'Terminate' }}</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div>
  <!--/.row-->
  <hr>

  <div class="row justify-content-center" *ngIf="subTask;else subTaskNotFound">
    <div class="col-sm-6 col-lg-3" *ngFor="let subTask of task.sub_tasks">
      <div class="brand-card">
        <div class="brand-card-header bg-twitter">
          <h2 class="text-white">Sub Task</h2>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase text-muted small" style="font-weight: bold">{{ subTask.title }}</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div>
  <!--/.row-->

  <ng-template #subTaskNotFound>
    <h5 style="font-weight: bold; text-align: center">Not Found Sub Task</h5>
  </ng-template>

  <hr>

  <div class="row justify-content-center" *ngIf="categories;else categoryNotFound">
    <div class="col-sm-6 col-lg-3" *ngFor="let category of task.categories">
      <div class="brand-card">
        <div class="brand-card-header">
          <h2>{{ category.name }}</h2>
        </div>
        <div class="brand-card-body" [style.background-color]="category.color">
          <div>
            <div class="text-uppercase text-muted small">
              <p style="font-weight: bold; color: black">{{ category.color }}</p>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div>
  <!--/.row-->

  <ng-template #categoryNotFound>
    <h5 style="font-weight: bold; text-align: center">Not Found Category</h5>
  </ng-template>

</div>

<ng-template #other_content>
  ....... Loading
</ng-template>
