<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-12">
          <div class="card justify-content-center">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <label class="text-warning font-weight-bold" style="font-size: 100%">End Flag : </label>
                </div>
                <div class="col-auto">
                  <div class="form-group pmd-textfield pmd-textfield-outline pmd-textfield-floating-label">
                    <select class="custom-select" [(ngModel)]="endFlag">
                      <option Value=""></option>
                      <option Value="0">Active</option>
                      <option Value="1">Terminate</option>
                    </select>
                  </div>
                </div>

                <div class="col-auto">
                  <label class="text-warning font-weight-bold" style="font-size: 100%">Dead Line : </label>
                </div>
                <div class="col-auto">
                  <div class="form-group pmd-textfield pmd-textfield-outline pmd-textfield-floating-label">
                    <input type="date" class="form-control" [(ngModel)]="deadLine">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 text-center mb-3 ml-5">
                    <button type="button" class="btn btn-success" (click)="Search()">Search</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Tasks
          </div>
          <div class="card-body">
            <table class="table text-center justify-content-center">
              <thead>
              <tr>
                <th>Description</th>
                <th>Dead Line</th>
                <th>End Flag</th>
                <th>User</th>
                <th>Category</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let task of tasks">
                <td>{{ task.description }}</td>
                <td>{{ task.deadLine }}</td>
                <td>{{ task.endFlag === 0 ? 'Active' : 'Terminate' }}</td>
                <td>{{ task.user.name }}</td>
                <td>
                  <div *ngFor="let category of task.categories">
                    <span>Name : {{ category.name }}</span> ..... <span>Color : {{ category.color }}</span>
                  </div>
                </td>
                <td>
                  <button class="btn btn-sm btn-danger" (click)="deleteById(task.id)">Delete</button>
                  |
                  <button class="btn btn-sm btn-success" (click)="viewById(task.id)">View</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
